.OverviewGrid {
    width: var(--dashboardWidth);
    height: var(--dashboardHeight);
    margin: 10px 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: var(--dashboardSpacing);
    grid-row-gap: var(--dashboardRowSpacing);
}

.OverviewGrid > .div1 { grid-area: 1 / 1 / 2 / 2; }
.OverviewGrid > .div2 { grid-area: 1 / 2 / 2 / 3; }
.OverviewGrid > .div3 { grid-area: 2 / 1 / 4 / 3; }
.OverviewGrid > .div4 { grid-area: 4 / 1 / 6 / 3; }
.OverviewGrid > .div5 { grid-area: 1 / 3 / 6 / 8; }