:root {
    --controlText: #220;
    --controlBlur: #553;
    --themeControlBackground: rgba(80, 80, 80, 0.1);
    --themeButtonBackground: #FFF;
}

/*default custom switch selector*/
.SwitchBase {
    white-space: nowrap;
    z-index: 15;
    text-align: center;
    background: var(--themeControlBackground);
    padding: 3px 0;
    border-radius: 20px;
}
.SwitchTick {
    position: relative;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0);
    border: solid 2px rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 7px 14px;
    margin: 0 5px;
    font-size: 11pt;
    color: var(--controlBlur);
}
.SwitchTick.activated {
    background: rgba(255, 255, 255, 1);
    border: solid 2px #CCC;
    color: var(--controlText);
}
.SwitchTick:hover {
    background: rgba(255, 255, 255, 0.5);
    border: solid 2px #EEE;
    cursor: pointer;
    color: var(--themeTable);
}
.SwitchTick:not(.activated):hover {
    color: #220;
}
.SwitchTick.activated:hover {
    background: rgba(255, 255, 255, 1);
}

/*default custom button*/
.button {
    background: #FFF;
    border: solid 2px rgba(80, 80, 80, 0.1);
    border-radius: 20px;
    font-size: 11pt;
    color: var(--controlText);
}
.button:hover {
    border: solid 2px #EEE;
}

.button.Done {
    align-self: flex-end;
    width: 4rem;
}

/*default custom field*/
.InputFunction {
    display: flex;
    flex-direction: row;
}
.InputFunction > label {
    vertical-align: middle;
    text-align: right;
    margin: 2px 1rem 2px 2px;
}
.coilsInput {
    outline-style: none;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0 .5rem;
    border-radius: 20px;
    border: solid 2px #EEE;
}
.coilsInput:focus {
    border: solid 2px #5399fb;
    transform: scale(1.05);
}